.card__container {
  background-color: white;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  overflow: visible;
  border-radius: 5%;
  position: relative;
  box-shadow: 0 0.3rem 0.5rem rgba(26, 26, 44, 0.1);
  z-index: 0;
}

.card__image {
  max-width: 250px;
  /* height: 100%; */
  transition: transform 0.4s;
  margin: 0 auto;
  overflow: hidden;
}

.card__image:hover {
  transform: scale(1.075);
}

.card__badge {
  text-transform: uppercase;
  background-color: rgb(169, 238, 199);
  color: black;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 5px 10px;
  border-radius: 20px;
}

.card__contents {
  padding: 10px;
  padding-bottom: 0;
  margin-top: 1.3rem;
}

.card__price {
  font-size: 36px;
  left: 30px;
  bottom: 40px;
}

.card__OgPrice {
  font-size: 1.5rem;
  color: red;
  text-decoration: line-through;
}

.card__add {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 30px;
  bottom: 40px;
  padding: 20px;
  border-radius: 50%;
  stroke-opacity: 0.7;
  background: rgba(248, 190, 103, 0.986);
  box-shadow: 0 0.5rem 0.5rem rgba(26, 26, 44, 0.1);
  transition: transform 0.4s;
  cursor: pointer;
}

.card__add:hover {
  transform: scale(1.1);
}

.card__add:active {
  transform: scale(0.9);
}
