.in__view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(90, 89, 89);
}

.in__container {
  box-shadow: 0 0.5rem 0.5rem rgba(26, 26, 44, 0.05);
  padding: 100px;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    rgba(245, 175, 25, 0.205),
    #f1271100
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.in__input {
  padding: 0.33rem 0.15rem 0.33rem 0.66rem;
  width: 92.5%;
  background: white;
  box-shadow: 0 0.5rem 0.5rem rgba(26, 26, 44, 0.05);
  font-size: 0.85rem;
  border-style: none;
  /* margin-right: 1rem; */
  display: flex;
  align-items: center;
  position: relative;
}

.in__logo {
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(26, 26, 44, 0.05);
}

.in__google {
  background: white;
  color: rgb(0, 135, 255);
  transition: transform 0.4s ease;
  margin-top: 2rem;
}

.in__google:hover {
  transform: scale(1.03);
}

.in__facebook {
  background: blue;
  transition: transform 0.4s ease;
  border-style: none;
  margin-top: 1rem;
}

.in__facebook:hover {
  transform: scale(1.03);
}

.in__user {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.in__heading {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 550px) {
  .in__input {
    margin-right: 0;
    padding: 0;
    margin: 0 auto;
    padding: 0.33rem 0.15rem 0.33rem 0.66rem;
  }
}
